/*for user form*/
.form{   
     background-color: rgb(78 158 184 / 63%);
	box-shadow: 2px 2px 5px #555;
    border: 3px solid black;
    border-radius: 2px;
    margin: 59px;
    padding: 53px;
    padding-left: 4%;
    margin-left: 24%;
    margin-right: 31%;
    margin-top: 8%;
    text-decoration: solid}


    /*for userform background*/
.uform{
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

